multi_class_data/Output/
mesh/
mesh_with_class/
gaming_character/ada_wong/
gaming_character/hyakkimaru/
gaming_character/john_wick/
gaming_character/kyrie/
gaming_character/leon/
gaming_character/mary_jane/
gaming_character/ninaT/
gaming_character/noctis/
gaming_character/sheva/
gaming_character/stanlee/
gaming_character/tifa/ 